version: '3.8'
services:
  ml-match:
    build: .
    environment:
      - MONGO_URI=mongodb://mongo:27017/skillswap
      - MONGO_DB=skillswap
      - FAISS_INDEX_PATH=/data/faiss.index
    volumes:
      - ./data:/data
    ports:
      - "8001:8001"
    depends_on:
      - mongo
  mongo:
    image: mongo:6.0
    ports:
      - "27017:27017"
    volumes:
      - ./mongo-data:/data/db
